.About-Mainpage{
    position:relative;
    height:80dvh;
    width:100dvw;
    top:50vh;
    left:-1.3dvh;
    background:#ffebbb;
    z-index:0;
}

.About-heading{
    position:relative;
    top:5vh;
    text-align:center;
}

.about-para{
    font-size:1.7rem;
    text-align:center;
    width:100vw;
    margin-top:10vh;
}

#line{
    height:0.6vh;
    width:13vw;
    background:black;
    position:relative;
    left: 43.5%;
    top:0.5rem;
}

