body{
    overflow-x:hidden;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:#e3f6f5;    
}
body::-webkit-scrollbar{
   background-color:#53a8b6;
   width:0.5vw;
}

body::-webkit-scrollbar-thumb{
    background-color:black;
}
html{
    scroll-behavior: smooth;
   
}
.Mainpage-1{
    position:relative;
    left:-1rem;
    top:-1rem;
    height:100dvh;
    width:100dvw;
    z-index:0;
    background:#e3f6f5;
}
.content-page-1{
    position:relative;
    text-align:center;
    top:20vh;
}
.introduction-heading-1{
    font-size:3.2rem;
    margin-bottom:-2.2rem;
}
.introduction-heading-3{
    font-size:2.4rem;
}
.introduction-heading-5{
    font-size:1.3rem;
    font-weight:500;
    letter-spacing:0.5px;
}
.introduction-container{
    text-align:center;
}
#hire-button{
    padding-top:0.8rem;
    padding-bottom:0.8rem;
    padding-left: 4rem;
    padding-right:4rem;
    border-style:solid;
    border-radius:10px;
    background:inherit;
    font-weight:700;
    font-size:1rem;
}

#hire-button:hover{
    cursor:pointer;
    background:black;
    color:#eaf6f6;
}

