.Footer-mainpage{
    height:80dvh;
    width:100dvw;
    position:relative;
    margin-top:-3rem;
    color:black;
    background:#e3f6f5;
}

.footer-title{
    text-align: center;
    font-size:3.5rem;
    padding-top:3rem;
}

.footer-paragraph-1{
    margin-top:-2rem;
    text-align:center;
    font-size:1.5rem;
}

.Say-hello-button{
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left:3rem;
    padding-right:3rem;
    font-size:1.2rem;
    border-style:solid;
    border-color: black;
    color:black;
    background:inherit;
    position:relative;
    left:38rem;
    border-radius:10px;
}

.social-handle-container{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    height:15dvh;
    width:20dvw;
    background:inherit;
    position:relative;
    left:35rem;
    top:3rem;
}

.github-logo,.instagram-logo{
    height:8dvh;
    aspect-ratio:1/1;
}

.linkedin-logo{
    height:11dvh;
    aspect-ratio:1/1;
}

.github-logo:hover,.instagram-logo:hover,.linkedin-logo:hover{
    filter:invert();
}

.Say-hello-button:hover{
    cursor:pointer;
    background:black;
    color:white;
}