.navbar{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:right;
    background:inherit;
    width:100dvw;
    position:sticky;
    top:2rem;
    left:0;
}

.navbar a{
    font-size:1.5rem;
    padding-left:2rem;
    padding-right:2.5rem;
    text-decoration:none;
    color:#00204a;
}

.name-logo{
    background:inherit;
    border:none;
    font-size:2rem;
    margin-right:40dvw;
}
.name-logo:hover{
    cursor:pointer;
}