.projects-mainpage{
    height:220dvh;
    width:100dvw;
    position:relative;
    top:4rem;
    z-index:0;
    background:#e3f6f5;
}

.project-container-1,.project-container-3{
    position: relative;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    height:fit-content;
    width:100dvw;
}


.project-container-2{
    position: relative;
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    align-items:center;
    height:fit-content;
    width:100dvw;

}

.project-description-container{
    padding-left:2rem; 
    flex:1;
}

.project-preview{
    padding-left:2rem;
    padding-top:5rem;
    flex:1;
}

.project-screenshot{
    height:50dvh;
    width:40dvw;
    object-fit:fill;
    border-style:solid;
    border-width:4px;
    border-radius:20px;
    box-shadow: 8px 4px 8px rgba(0,0,0,0.75);
}

#description-1,#description-2,#description-3{
    text-align:justify;
    font-size:1rem;
}

#description-2{
    padding-right:3rem;
}

.Project-page-title{
    text-align:center;
    padding-top:3rem;
}

.project-title{
    text-align:center;
}

#line3{
    height:0.4vh;
    width:14vw;
    background:black;
    position:relative;
    left: 43%;
    top:-1.5rem;
}

.project-github-button,.project-website-button{
    background:inherit;
    border-style:solid;
    border-radius:5px;
    margin-right:0.3rem;
    text-align:left;
    padding-left:3rem;
    padding-right:3rem;
}

.project-button-github-logo,.project-button-website-logo{
    height:5vh;
} 


.project-github-button:hover,.project-website-button:hover{
    cursor:pointer;
}